<%% if @booking.errors.any? %>
  <div class="errors">
    <h3><%%= pluralize(@booking.errors.count, 'error') %>
      prohibited this booking from being saved:
    </h3>
    <ul>
      <%% @booking.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
    </ul>
  </div>
<%% end %>