<h3>Booking Confirmation</h3>
<p>Your booking is confirmed for
  <%%= @<%=bookable_views_name.singularize%>.name %>:
  <%%= @booking.start_time.strftime('%e %b %Y %H:%M%p') %>
  until
  <%%= (@booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>